/* BASIC CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.card-container {
    width: 95vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.employee-card {
    min-height: 150px;
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    border: 3px solid gray;
    background-color: white;
}

.employee-img {
    width: 125px;
    height: 125px;
    border-radius: 100%;
}

.employee-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

.employee-infos span {
    color: gray;

    display: inline-block;
}

.employee-email {
    margin: 0.5rem 0;
    word-break: break-all;
}

/* MODAL STYLES */
.modal-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
}
.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.modal-bg-overlay,
.modal-container {
    display: none;
}
.modal {
    /* opacity: 0.5; */
    z-index: 10000;
    background-color: white;
    margin-bottom: 15rem;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 33vw;
    min-height: 55vh;
}
.modal-x {
    position: absolute;
    top: 0;
    right: 30px;
    padding: 0.5rem;
}
.modal-x:hover {
    cursor: pointer;
}
.modal-img {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
    margin: 0 auto;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    .card-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .card-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
