/* BASIC CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.card-container {
    width: 95vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.employee-card {
    min-height: 150px;
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    border: 3px solid gray;
    background-color: white;
}

.employee-img {
    width: 125px;
    height: 125px;
    border-radius: 100%;
}

.employee-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

.employee-infos span {
    color: gray;

    display: inline-block;
}

.employee-email {
    margin: 0.5rem 0;
    word-break: break-all;
}

@media screen and (min-width: 768px) {
    .card-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .card-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
